/* Загальні стилі */
body {
  font-family: Arial, sans-serif;
  color: #fff;
  text-align: center;
  justify-content: center;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
}

.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Стилі списку фільмів */
.movie-list {
  display: grid;
  grid-template-columns: repeat(5, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-list p {
  font-size: 24px;
  color: #ccc;
  margin: 0;
}

/* Оформлення картки фільму */
.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
  background: #333;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-footer {
  margin-top: auto;
  text-align: center;
}

.booking-button {
  width: 100%;
  padding: 10px;
  background-color: rgb(36, 38, 36);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.booking-button:hover {
  background-color: rgb(36, 82, 24);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

.movie-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.movie-card p {
  font-size: 14px;
  border-radius: 8px;
  text-align: left;
}

.movie-card strong {
  font-size: 13px;
  color: #ffffff;
}

/* Ефекти при наведенні */
.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
  background: #1a1a1a;
}

/* Пошуковий інпут */
.search-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background: #333;
  color: #fff;
}

/* Адаптивність */
@media (max-width: 768px) {
  .movie-list {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
  .seat {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .movie-card {
    padding: 10px;
  }

  .movie-card h3 {
    font-size: 16px;
  }

  .movie-card p {
    font-size: 12px;
  }
}

.cinema-hall {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  max-width: 300px;
  margin: 20px auto;
}

.row {
  display: flex;
  justify-content: center;
}

.seat {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 5px;
}

.available {
  background-color: green;
}

.selected {
  background-color: blue;
}

.booked {
  background-color: red;
  cursor: not-allowed;
}

.booking-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}

.booking-form input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.booking-form button {
  padding: 10px;
  background-color: orange;
  border: none;
  cursor: pointer;
}

.error {
  color: red;
  font-size: 12px;
}

.home-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: rgb(62, 59, 56);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.home-button:hover {
  background-color: rgb(88, 87, 86);
}